<!doctype html>
<html lang="en" class="no-js">
<!-- FB Comments Plugin  -->
<head>
  <meta property="fb:app_id" content="1752624775053344" />
  <meta property="fb:admins" content="100006472131871" />
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments1"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments2"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments3"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments4"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments5"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments6"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments7"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments8"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments9"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments10"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments11"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments12"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments13"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments14"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments15"/>
  <meta property="og:title" content="This Page Title"/>
	
<title>Chamber of Secrets</title>
<link rel="icon" href="/img/favicon.gif" type="image/x-icon" />
	<!-- Icons awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<!-- Sandstone Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
   <!--  Font and login and sign-up css -->
	<link rel="stylesheet" href="/css/style3.css"/>
    <!-- Main Stye -->
	<link rel="stylesheet" href="/css/style1.css"/>
    <!-- Profile Css -->
    <link rel="stylesheet" href="/css/profile.css"/>
    <!-- Conatct css -->
    <link rel="stylesheet" href="/css/contact.css"/>
    <!-- Rules css -->
    <link rel="stylesheet" href="/css/rules.css"/> 
    <!-- Leaderboard css -->
    <link rel="stylesheet" href="/css/leader.css"/>
    <!-- Clues css -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/clues.css">
    
</head>
<body background="/images/ll.jpg" class="fit" > 
        <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1752624775053344";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
 
<div class="brand clearfix" >
		<a href="#" class="logo"><img style="border:0px; width:130px; height:60px " src="img/logo1.png" class="img-responsive"  alt=""></a>
		<span class="menu-btn"><i class="fa fa-bars"></i></span>
		<ul class="ts-profile-nav">
			<!--<li><a href="#">Help</a></li>
			<li><a href="#">Settings</a></li>-->
			<li class="ts-account">
				<a href="#"><img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">{{user.name}}<!-- <i class="fa fa-angle-down hidden-side"></i> --></a>
				<ul>
					<li><a href="#profile" id="showprofile">My Account</a></li>
					<!--<li><a href="#">Edit Account</a></li>-->
					<li><a href="/users/logout">Logout</a></li>
				</ul>
			</li>
		</ul>
</div>


<!-- Navigation bar -->
<div class="ts-main-content">
		<nav class="main-menu">
			<ul class="ts-sidebar-menu" >
				<li  class="open" >
                    <a href="/" id="showhome">
                        <i class="fa fa-home fa-fw"></i>
                        <span class="nav-text">   Home   </span>
                    </a>
                </li>
				<li >
                    <a href="#rules" id="showrules">
                        <i class="fa fa-bullhorn"></i>
                        <span class="nav-text"> Rules</span>
                    </a>
                </li>
				<li>
                    <a href="#clues" id="showclues">
                        <i class="fa fa-edit"></i>
                        <span class="nav-text">Clues</span>
                    </a>
                </li>
				<li>
                <a href="#leaderboard" id="showleader">
                    <i class="fa fa-group "></i>
                    <span class="nav-text">    Leaderboard</span>
                </a>
                </li>
				<li>
                    <a href="#panel" id="showpanel">
                        <i class="fa fa-comments-o" ></i>
                        <span class="nav-text"> Discussion panel</span>
                    </a>
                </li>
                <li>
                    <a href="#contact" id="showcontact">
                        <i class="fa fa-paper-plane-o"></i>
                        <span class="nav-text">  Contact</span>
                    </a>
                </li>
			</ul>
		</nav>
	</div>
<div class="modal-wrapper">
  <div class="modal" >
    <div>
    
        <script type="text/javascript">
            var imgAr = ['1.gif','2.gif','3.gif','4.gif','5.gif','6.gif'];
            var path = 'img/'; // default path here
            var num = Math.floor( Math.random() * imgAr.length );
            var img = imgAr[ num ];
            var imgStr = '<img src="' + path + img + '" alt = "">';
            document.write(imgStr); document.close();

        </script>

        </div>
    </div>
</div>
          
<div id="blur_div">  
    <div style="">
        <main>
           <div id="home"  class="content">
                <div id="ques" style="width:inherit; background-color:white; height:300px;overflow: hidden;">
                    <div style="width:1000px;">
                
                        {{#times max user.qid}}
                        <img  class="" alt="Nice Try :p" src ="./questions/{{this}}.JPG"></img>
                       {{/times}}
                    </div>


               </div>
                      <form>
                            <section>
                                    <ul class="input-list style-1 clearfix ">
                                        <li>
                                            <input  type="text" name="subans" id="subans" placeholder=":answer" required>
                                        </li>
                                    </ul>
                                    <input type="button" class="butt b" style=" display:inline; position:absolute; top:320px; left:35%;" value="Submit" id="btn" onclick="check();">
                            </section>
                      </form>
            </div>


            <div id="rules"  class="rules_content" style="background-image: url(/images/11.jpg); 
                        opacity:0.8; border: 1px solid black; display:none;">                      
                        <div class="m" style="text-align:center; font-size: 36px !important;">&lt;Rules<br><br>
                        </div>
                        <ol class="m1"  style="float:left">
                         &nbsp;&nbsp;       1. Partner up with Google<br>
                         &nbsp;&nbsp;       2. Images can be clues sometimes  <br>
                         &nbsp;&nbsp;       3. Watch what you say on the forum <br>
                         &nbsp;&nbsp;       4. Don't worry about cases and spaces  <br>
                         &nbsp;&nbsp;       5. Posting answers on the forum will lead to elimintation<br>
                         &nbsp;&nbsp;       6. Kindly, follow the above "RULES" <br>
                        
                        
                        </ol>
            </div>
                         


            <div id="clues" class="clues" style="display:none;">
                          <ul class="tabs m clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Clue 1</a></li>
                            <li><a href="#tab2">Clue 2</a></li>
                            <li><a href="#tab3">Clue 3</a></li>
                          </ul>
                          <section id="first-tab-group" class="tabgroup m">
                                <div id="tab1">
                                    <p>&lt;{{clue1}}&gt;</p>
                                </div>
                                <div id="tab2">
                                      <p>
                                       {{clue2}}
                                      </p>
                                </div>
                                <div id="tab3">
                                      <p>
                                      {{clue3}}
                                     </p>
                                </div>
                         </section>
            </div>

            <div id="leader"  class="lead_cen" style="display:none;">

                <table>
                        <thead class="p">
                            <tr>
                              <th>#</th>
                              <th>Wizard name</th>
                              <th>Points</th>
                            </tr>
                        </thead>
                    <tbody> 

                    {{#each users}} 
                    <tr> 

                        <td>  {{ inc @index }}</td>
                        <td class="b" style="font-size:17px;">{{name}}</td> 
                        <td class="m">{{points}}</td> 
                        </tr> 
                       
                    {{/each}} 
                    </tbody> 
                </table>            
            </div>
            				
            <div id="panel" class="panel-content" style="display:none;">
                            <div class="fb-comments" data-href="https://chamber-selvadurairaj.c9users.io/#{{comments}}" data-numposts="10">    
                            </div>
                        
            </div>


        	<div id="contact" class="clear hi" style="display:none;">
                            <div class="plan most-popular"  onclick="dodajAktywne(this)">
                                <h3 class="m" >Bala Sekar<span><img src="./images/bala.JPG"></img></span></h3>         
                                <ul class="b1">
                                <li><b class="m">Ph:</b> 9965999159</li>
                                <li><b class="m">Email:<br><i> <a href="mailto:balampbv007@gmail.com">Bala</a></li>           
                                </ul> 
                            </div>
                            <div class="plan  " onclick="dodajAktywne(this)">
                                <h3 class="m1">Selva kumar<span><img src="./images/selva.jpg"></img></span></h3>       
                                <ul class="b1">
                                <li><b class="m">Ph:</b> 8056837725</li>
                                <li><b class="m">Email:<i> <a href="mailto:dselvaarni@gmail.com">SelvaDSK</a>          
                                </ul>    
                            </div>
                            <div class="plan  " onclick="dodajAktywne(this)">
                                <h3 class="m1">Aswin<span><img src="./images/aswin.JPG"></img></span></h3>       
                                <ul class="b1">
                                <li><b class="m">Ph:</b> 8754295209</li>
                                <li><b class="m">Email:<i> <a href="mailto:aswinmaddy98@gmail.com">Aswinmaddy</a>          
                                </ul>    
                            </div>
                            <div class="plan most-popular " onclick="dodajAktywne(this)">
                                <h3 class="m1">Prasadh<span><img src="./images/prasadh.jpg"></img></span></h3>       
                                <ul class="b1">
                                <li><b class="m">Ph:</b> 9976548249</li>
                                <li><b class="m">Email:<i> <a href="mailto:prasadh10121997@gmail.com">PrasadhRocks</a>          
                                </ul>    
                            </div>

            </div>


        	<div id="profile"  style="background-image: url(/images/11.jpg); opacity:0.8; border: 1px solid black; display:none;">
                    <div class="profile">
                            <div class="avatar-flip">
                                <img src="./images/profile.jpg" height="150" width="150" >
                                <img src="./images/giphy.gif" height="150" width="150" style= "opacity:0.96";>
                            </div>
                            <div class="l"> 
                                   <p>Wizard Name : <span class="b1">{{user.name}}</span><br><br>
                                   Score  : <span class="b1">{{user.points}}</p>
                                   </div>
                                    <p class="l">Level Completed:</p>
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{user.qid}}" aria-valuemin="0" aria-valuemax="5" style="width:{{math user.points "*" 0.5}}%">
                                   
                            </div>
                        
                        </div>
            </div>
        </main>            
    </div>
</div>
		
	<!-- Loading Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
     <script src="/js/index.js"></script>
      <script src="/js/notify.min.js"></script>

<!--For hiding and showing selected div's-->

<script type="text/javascript">
$( document ).ready(function() {

$(function() {
    $('#showhome').click(function() {
         $('#home').show();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });
    $('#showrules').click(function() {
       $('#home').hide();
        $('#rules').show();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showclues').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').show();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showleader').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').show();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });


    $('#showpanel').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').show();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showcontact').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').show();
        $('#profile').hide();
    });


    $('#showprofile').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').show();
    });
});
});
</script>

<!-- For contact Event -->
<script type="">
var test=document.getElementsByClassName("plan");
for(var i=0;i<test.length;i++){
    test[i].addEventListener("click",function(){
        this.classList.toggle("most-popular");

    })
}

</script>
<script type="text/javascript">
    $(document).ready(function(){
        //console.log(max);
    var  q={{max}};
    $('#ques img').attr('class',"");
    if(q==1)
    {
    $('#ques img').addClass('one');
    }
    if(q==2)
    {
    $('#ques img').addClass('two');
    }
    if(q==3)
    {
    $('#ques img').addClass('three');
    }
});    
</script>

</body>

</html>