<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="theme-color" content="#3e454c">
	
<title>Chamber of Secrets</title>
<link rel="icon" href="/img/favicon.gif" type="image/x-icon" />
	<!-- Icons awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<!-- Sandstone Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
   <!--  Font and login and sign-up css -->
	<link rel="stylesheet" href="/css/style3.css"/>
    <!-- Main Stye -->
	<link rel="stylesheet" href="/css/style1.css"/>
    <!-- Profile Css -->
    <link rel="stylesheet" href="/css/profile.css"/>
    <!-- Conatct css -->
    <link rel="stylesheet" href="/css/contact.css"/>
    <!-- Rules css --><!-- 
    <link rel="stylesheet" href="/css/rules.css"/> -->
    <!-- Conatct css -->
    <link rel="stylesheet" href="/css/leader.css"/>
    <!-- Conatct css -->
    
    <!-- Gritter CSS -->
<link rel="stylesheet" type="text/css" href="/css/jquery.gritter.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.gritter.js"></script>
   
    
</head>
<body background="/images/h3.jpg" class="fit" > 
	<div class="brand clearfix" >
		<a href="#" class="logo"><img style="border:0px; width:130px; height:60px " src="img/logo1.png" class="img-responsive"  alt=""></a>
		<span class="menu-btn"><i class="fa fa-bars"></i></span>
		<ul class="ts-profile-nav">
			<!--<li><a href="#">Help</a></li>
			<li><a href="#">Settings</a></li>-->
			<li class="ts-account">
				<a href="#"><img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">Welcome {{user.qid}}<!-- <i class="fa fa-angle-down hidden-side"></i> --></a>
				<ul>
					<li><a href="#profile" id="showprofile">My Account</a></li>
					<!--<li><a href="#">Edit Account</a></li>-->
					<li><a href="/users/logout">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>


	<!-- Navigation bar -->
	<div class="ts-main-content">
			
		<nav class="main-menu">
			<ul class="ts-sidebar-menu" >
				<li  class="open" >
                <a href="/" id="showhome"><i class="fa fa-home fa-fw"></i>
                    <span class="nav-text">   Home   </span>
                </a></li>
				<li >
                <a href="#rules" id="showrules"><i class="fa fa-bullhorn"></i>
                <span class="nav-text">  Rules</span>
                    </a></li>
				<li><a href="#clues" id="showclues"><i class="fa fa-edit"></i>
                <span class="nav-text">Clues</span>
                    </a></li>
				<li><a href="#leaderboard" id="showleader"><i class="fa fa-group "></i>
                <span class="nav-text">    Leaderboard</span>
                    </a></li>
				<li><a href="#panel" id="showpanel"><i class="fa fa-comments-o" ></i>
                <span class="nav-text"> Discussion panel</span>
                </a></li>
                <li><a href="#contact" id="showcontact"><i class="fa fa-paper-plane-o"></i>
                <span class="nav-text">  Contact</span>
                </a></li>
			</ul>
		</nav>
	</div>
				

    
<!--             <div id="home" class="content">Home<img class="img-wrapper" src ="./questions/{{qid}}.JPG"></img></div>

 -->              
<div style="">
<main >

   <div id="home" qid="{{user.qid}}" points="{{user.points}}" class="content"><img class="img-wrapper" src ="./questions/{{user.qid}}.JPG"></img>
                    <form>
                    <section>
                    <ul class="input-list style-1 clearfix">
                    <li>
                    <input  type="text" name="subans" id="subans" placeholder=":answer" required>
                    </ul>
                    </li>
                    <input class="btn" style=" display:inline; position:absolute; top:320px; left:28%;" value="Submit" onclick="check();">

                    </section>
                    </form>
                    </div>
				<div id="rules"  class="content" style=" opacity:0.9; display:none;" >
                        
                </div>
				<div id="clues" class="content" style="display:none;">Clues</div>
				<div id="leader"  class="lead_cen" style="display:none;">
                
<table>
  <thead class="p">
    <tr>
      <th>#</th>
      <th>Wizard name</th>
      <th>Points</th>
    </tr>
  </thead>
  <!-- <tbody>
    <tr>
      <td><strong>1</strong></td>
      <td>Balasekar</td>
      <td>100</td>
    </tr>
  </tbody>
   --><tbody> 

        {{#each users}} 
        <tr> 
            <td>  {{@index}}</td>
            <td class="b" style="font-size:17px;">{{name}}</td> 
            <td class="m">{{points}}</td> 
            </tr> 
           
        {{/each}} 
    </tbody> 
</table>            
                </div>
				<div id="panel" class="content" style="display:none;">panel</div>
				<div id="contact" class="clear hi" style="display:none;">
                        <div class="plan"  onclick="dodajAktywne(this)">
                        <h3 class="m" >Bala Sekar<span><img src="./images/1.JPG"></img></span></h3>         
                        <ul class="b1">
                        <li><b class="m">Ph:</b> 8899776655</li>
                        <li><b class="m">Email:</b><i> bala@gmail.com</li>           
                        </ul> 
                    </div>
                    <div class="plan most-popular " onclick="dodajAktywne(this)">
                        <h3 class="m1">Selva kumar<span><img src="./images/1.JPG"></img></span></h3>       
                        <ul class="b1">
                        <li><b class="m1">Ph:</b> 1122334455</li>
                        <li><b class="m1">Email:</b> selva@gmail.com</li>          
                        </ul>    
                    </div>

                </div>            
                </div>
				<div id="profile"  style="display:none;">
                                <div class="profile">
                                    <div class="avatar-flip">
                                    <img src="./images/profile.jpg" height="150" width="150">
                                    <img src="./images/giphy.gif" height="150" width="150">
                                    </div>
                                    <div class="l"> 
                                   <p>Wizard Name : <span class="b1">{{user.name}}</span><br><br>
                                   Score  : <span class="b1">{{user.points}}</p>
                                   </div>
                                    <p class="l">Level Completed:</p>
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{user.qid}}" aria-valuemin="0" aria-valuemax="5" style="width:{{user.qid}}0%">
                                   
                                    </div>
                
                                </div>
                </div>
    </main>            

</div>
		
	<!-- Loading Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
    
     <script type="text/javascript">

    $(function(){
    var unique_id = $.gritter.add({
                title: 'welcome to chamber of secrets!',
                text: 'explore the secrets',
                image: '/images/3.jpg',
                sticky: true,
                time: '',
                class_name: 'my-sticky-class'
            });
            return false;
        });
        
</script>
<!--For hiding and showing selected div's-->

<script src="https://code.jquery.com/jquery-1.7.2.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
$(function() {
    $('#showhome').click(function() {
         $('#home').show();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });
    $('#showrules').click(function() {
       $('#home').hide();
        $('#rules').show();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showclues').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').show();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showleader').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').show();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').hide();
    });


    $('#showpanel').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').show();
        $('#contact').hide();
        $('#profile').hide();
    });

    $('#showcontact').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').show();
        $('#profile').hide();
    });


    $('#showprofile').click(function() {
        $('#home').hide();
        $('#rules').hide();
        $('#clues').hide();
        $('#leader').hide();
        $('#panel').hide();
        $('#contact').hide();
        $('#profile').show();
    });
});
});
$.gritter.add({
  // heading of the notification
  title: 'This is a sticky notice!',
  // the text inside the notification
  text: 'Your message here'
});

</script>

<!-- For contact Event -->
<script type="">
var test=document.getElementsByClassName("plan");
for(var i=0;i<test.length;i++){
    test[i].addEventListener("click",function(){
        this.classList.toggle("most-popular");

    })
}

</script>

		
</body>

</html>