<!doctype html>
<html lang="en" class="no-js">
<!-- FB Comments Plugin  -->
<head>
  <meta property="fb:app_id" content="1752624775053344" />
  <meta property="fb:admins" content="100006472131871" />
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments1"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments2"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments3"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments4"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments5"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments6"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments7"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments8"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments9"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments10"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments11"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments12"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments13"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments14"/>
  <meta property="og:url" content="https://chamber-selvadurairaj.c9users.io/#comments15"/>
  <meta property="og:title" content="This Page Title"/>
  
<title>Chamber of Secrets</title>
<link rel="icon" href="/img/favicon.gif" type="image/x-icon" />
  <!-- Icons awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css"/>
  <!-- Sandstone Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
   <!--  Font and login and sign-up css -->
  <link rel="stylesheet" href="/css/style3.css"/>
    <!-- Main Stye -->
  <link rel="stylesheet" href="/css/style1.css"/>
    <!-- Profile Css -->
    <link rel="stylesheet" href="/css/profile.css"/>
    <!-- Conatct css -->
    <link rel="stylesheet" href="/css/contact.css"/>
    <!-- Rules css -->
    <link rel="stylesheet" href="/css/rules.css"/> 
    <!-- Leaderboard css -->
    <link rel="stylesheet" href="/css/leader.css"/>
    <!-- Clues css -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/clues.css">
    
</head>
<body background="/images/ll.jpg" class="fit" > 
     
<div class="brand clearfix" >
    <a href="#" class="logo"><img style="border:0px; width:130px; height:60px " src="img/logo1.png" class="img-responsive"  alt=""></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <ul class="ts-profile-nav">
      <!--<li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>-->
      <li class="ts-account">
        <a href="#"><img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">{{user.name}}<!-- <i class="fa fa-angle-down hidden-side"></i> --></a>
        <ul>
          <li><a href="#profile" id="showprofile">My Account</a></li>
          <!--<li><a href="#">Edit Account</a></li>-->
          <li><a href="/users/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
</div>

    <div style="">
        <main>
           <div id="home"  class="content">
                <div id="ques" style="width:inherit; background-color:white; height:300px;overflow: hidden;">
                    <div style="width:1000px;">
                
                        <img  class="" alt="You are Wizard now !! !" style="width: 629px;
                         height: 299px;" src ="./img/success.gif"></img><br>
                        
                        </div>

               </div>

                        <div><center><p class="m" style=" height:90px;
                        font-size:30px;">Congratulations wizards You have completed the Chamber of Secrets Riddles. Winners will be announced in the <a href="http://www.itrix.in/#all">ITrix</a> page. We ll be back with more riddles. Until then Ciao  Page </center> 
                        </p>  
                        </div>

            </div>
            <div id="profile"  style="background-image: url(/images/11.jpg); opacity:0.8; border: 1px solid black; display:none;">
                    <div class="profile">
                            <div class="avatar-flip">
                                <img src="./images/profile.jpg" height="150" width="150" >
                                <img src="./images/giphy.gif" height="150" width="150" style= "opacity:0.96";>
                            </div>
                            <div class="l"> 
                                   <p>Wizard Name : <span class="b1">{{user.name}}</span><br><br>
                                   Score  : <span class="b1">{{user.points}}</p>
                                   </div>
                                    <p class="l">Level Completed:</p>
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{user.qid}}" aria-valuemin="0" aria-valuemax="5" style="width:{{math user.points "*" 0.5}}%">
                                   
                            </div>
                        
                        </div>
            </div>


</div>
    
  <!-- Loading Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap-select.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
     <script src="/js/index.js"></script>
      <script src="/js/notify.min.js"></script>

<!--For hiding and showing selected div's-->


</body>

</html>