<!DOCTYPE html>
<html>
<head> 
<title>Chamber of Secrets</title>

<link rel="icon" href="/img/favicon.gif" type="image/x-icon" />
<link rel="stylesheet"  href="/css/bootstrap.css" />
<link rel="stylesheet"  href="/css/style.css" />
<link rel="stylesheet"  href="/css/style3.css" />
<script src="/js/main.js"></script>
    
<!-- Mobile Query -->
<script type="text/javascript">
if (screen.width <= 699) {
document.location = "mobile.html";
}
</script>
 </head>
 
    <div class="container">
      <div >
        <nav>

          <ul class="nav nav-pills pull-right">
            {{#if user}}
            <li role="presentation"><a href="/">Dashboard</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}<!--
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>//-->
            {{/if}}
          </ul>
        </nav>
      </div>
<div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
          </div>
      </div>


<!--       <footer class="footer">
        <p>&copy; 2017 ISTA.</p>
      </footer>
 -->
    </div> <!-- /container -->
    

 </body>
 </html>

